.container {
    display: flex;
    width: 1400px;
    margin: auto;
    position: relative;
    padding: 30px;
    background-image: linear-gradient(45deg, #DCDCDC 9%, #FDFDFD);
}

.image-box {
    min-width: 1280px;
    height: 760px;
    position: relative;
}

.image-box-background {
    background-image: url(banner-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.image {
    position: relative;
    width: 1280px;
}

.image-tile {
    transition: transform linear 0.2s;
    position: absolute;
}

.timer-box {
    width: 50px;
    height: 720px;
    position: relative;
    padding-left: 20px;
}

.cross {
    font-size: large;
}

.countdown {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 50%;
    left: 50%;
    font-size: small;
    text-shadow: 1px 0 grey;
    color: #DCDCDC;
    opacity: 1;
}

.transition {
    font-size: xx-large;
    opacity: 0.4;
    transform: scale(5);
    transition: all 0.9s;
    transition-timing-function: linear;
}

.display-none {
    display: none;
}

.box {
    padding: 3px;
    border: 2px solid #778FD5;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}
.progress {
    background-color: #778FD5;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    transition: height 5s;
    transition: all 1s linear;
    transform-origin: bottom;
}

.progress-container {
    height: 710px;
    width: 60px;
}

.progress.animate {
    animation-name: progress-animation;
    animation-timing-function: linear;
    animation-fill-mode: forwards; /* to keep last value on animation end */
}

@keyframes progress-animation {
    from {
        max-height: 100%;
    }

    to {
        max-height: 0%;
    }
}

.game-countdown {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: white;
    padding: 10px 0;
    transition: none;
}
