.container {
    display: flex;
    width: 90%;
    margin: auto;
}

.image-box {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 20px;
    display: flex;
    /* flex-flow: row wrap; */
    position: relative;
}

.image-box-background {
    background-image: url("banner-landscape.jpg");
    min-height: 780px;
}

.image-box-background:after {
    content: '\200b';
}

.image-tile {
    transition: transform ease-in 1s;
    position: absolute;
}

.timer-box {
    width: 20px;
    margin: auto;
    height: 750px;
}

.timer-line {
    background-color: #778FD5;
}

.timer {
    border: 1px solid #778FD5;
    align-self: flex-end;
}

.cross {
    font-size: large;
}

.puzzle-box {
    list-style-type: none;
}
/* 
background: #DCDCDC;
background: -webkit-linear-gradient(top left, #DCDCDC, #FDFDFD);
background: -moz-linear-gradient(top left, #DCDCDC, #FDFDFD);
background: linear-gradient(top left, #DCDCDC, #FDFDFD); */